# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.env/
.DS_Store



.vscode/

.streamlit/

data/*.csv
!data/prices.csv
!data/carbon.csv


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
node_modules

# Windows reserved filenames
nul
